<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codejune.sutaekhighschool"
    android:versionCode="11"
    android:versionName="3.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.codejune.sutaekhighschool.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme.TranslucentActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.SubActivity"
            android:label="@string/allmenu"
            android:parentActivityName="com.codejune.sutaekhighschool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Appinfo"
            android:label="@string/info"
            android:parentActivityName="com.codejune.sutaekhighschool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Notices"
            android:label="@string/notices"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Meal"
            android:label="@string/meal"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Schoolinfo"
            android:label="@string/schoolinfo"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Schedule"
            android:label="@string/schedule"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Schoolintro"
            android:label="@string/schoolintro"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Notices_Parents"
            android:label="@string/notices_parents"
            android:parentActivityName="com.codejune.sutaekhighschool.SubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.MainActivity" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Doc_Readme"
            android:label="@string/title_activity_doc__readme"
            android:parentActivityName="com.codejune.sutaekhighschool.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.Appinfo" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Doc_Notices"
            android:label="@string/title_activity_doc__notices"
            android:parentActivityName="com.codejune.sutaekhighschool.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.Appinfo" />
        </activity>
        <activity
            android:name="com.codejune.sutaekhighschool.Doc_Contributors"
            android:label="@string/title_activity_doc__contributors"
            android:parentActivityName="com.codejune.sutaekhighschool.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codejune.sutaekhighschool.Appinfo" />
        </activity>
    </application>

</manifest>
